<div class="row">
  <div class="col-md-6"><%= high_chart("Piechart", @piechart) do |c| %>
          <%= raw "options.tooltip.formatter = function() {return '<b> YUPI!! '+ this.point.name +'</b>: '+ this.y +' %';}"  %>
          <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
      <% end %></div>
  <div class="col-md-6"><%= high_chart("Linechart", @trendchart) %></div>
</div>

<div class="container">
  <h2>Ticket List</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
      <tr data-row-id=<%= ticket.id %>>
        <td class="col-md-3"><%= ticket.title %></td>
        <td class="col-md-6"><%= ticket.descr %></td>
        <td class="col-md-3">
          <% ticket.categories.each do |category| %>
          <%= category.descr %> <%= ", " unless category == ticket.categories.last %>
          <% end %>
          <%#= ticket.categories.map{|p| p.descr}.join(", ") %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <button id="create-ticket" class="btn btn-primary">Create new ticket</button>
</div>

<div id="dialog-form" title="Create new ticket"></div>

<script>
  $(document).ready(function(){
    //Dialog defining and processing
    dialog = $('#dialog-form').dialog();
    //var loadCreateTicket=true;
    dialog.dialog('close');
    $('#create-ticket').click(function(){
      //if (loadCreateTicket){
        $("#dialog-form").html("<%= escape_javascript(render(:partial => 'form', :object => @ticket)) %>");
        //loadCreateTicket=false;
      //}
      dialog.dialog('open');
    });
    
    //Row click event for table
    $('.table').find('tr').click( function(){
      //$('body').spin();
      var spinner=new Spinner().spin($('body')[0]);
      var ticketID = $(this).data('row-id');
      //alert('You clicked row ' +' - Val:' + customerId );
      $.ajax({
        type:'GET',
        url:'/tickets/'+ticketID+'/edit',
        success:function(data){
          $('#dialog-form').html(data);
          dialog.dialog('open');
        }
      });
      spinner.stop();
      //$('body').spin(false);
      //$('#dialog-form').append("<%= escape_javascript(render(:partial => 'form', :object => @ticket)) %>")
    });
  });
</script>